/*
* author: Joan Montés Doria
* we use metodology BEM 
*
* ********************************** INDEX ******************************************
* 0. GENERIC -> quitar margenes a toda la web
* 1. MENU -> muestra el nav + media queries al llegar a 600px cambiara de tamaño
* 2. CAROUSEL -> mostrar y ocultar carousel
* 3. HOME -> cajas con sombra utilizando flexbox
* 4. CATALOGUE -> uso de flexbox para mostrar las categorias
* 5. ARTICULS -> uso de flexbox para mostrar los articulos con cajas
* 6. CONTACT -> formulario (linear-gradient) y caja para mostrar los datos de la empresa
* 7. GOOGLE MAPS -> dar tamaño al mapa
* 8. FOOTER -> pie de página donde se muestra información, quitar estilos de la etiqueta ul y
* hacer que el pie de página siempre se quede abajo con clear:both
* 9. Toaster -> mostrar información para el usuario con success,info,warning i errors
* 10. INPUTS -> darle un padding y espacios para mostrarlo mejor
* 11. FONTS -> fuentes para titulos y contenidos
* 12. UTILS -> utilidades para utilizar en todas las vistas (Ej:dar un espacio hacia arriba)
* 13. BUTTONS -> boton genérico para toda la web
*/

/****** GENERIC ***********/
*{
  margin: 0;
}
/********* MENU ***********/
.top-nav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.top-nav .top-nav__item {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 36px;
  text-decoration: none;
  font-size: 17px;
}

.top-nav .top-nav__itemLogo {
  float: left;
  padding: 10px 25px;
  text-decoration: none;
  color: aliceblue;
    
}

/* Change the color of links on hover */
.top-nav .top-nav__item:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.top-nav__item--active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the top-nav on small screens */
.top-nav #icon {
  display: none;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
 @media screen and (max-width: 600px) {
    .top-nav .top-nav__item:not(:first-child) {display: none;}
    .top-nav .top-nav__item#icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the top-nav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .top-nav.responsive {position: relative;}
    .top-nav.responsive .top-nav__item#icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .top-nav.responsive .top-nav__item {
      float: none;
      display: block;
      text-align: left;
    }
  }
  .top-nav__languages{
    display: flex;
    flex-flow: row wrap;
    border: none;
    margin-top: 20px;
    cursor: pointer;
  }
  .top-nav__languagesSP{
    outline: none;
    text-decoration: none;
    
  }
  .top-nav__languagesVAL{
    margin-left: 10px;
  }

/****************** CAROUSEL *****************/
.carousel {
  position: relative;
  height: 400px;
  width: 100%;
}

.jumbotrons {
  height: 100%;
  width: 100%;
  position: relative;
}

.jumbotron {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 3em;
  color: white;
  line-height: 400px;
  text-align: center;
  opacity: 0;
  transition: opacity 1000ms;
}

.jumbotron:nth-child(1) {
  background-color: white;
  opacity: 1;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 20px;
  align-content: center;
}

.indicator {
  cursor: pointer;
  outline: none;
}
.jumbotron-text{
  color: white;
}
/*.indicator > p{
  margin-right: 50%;
}*/

/****************** HOME *********************/
.container-home{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
.home-title, .home-subtitle{
  display: flex;
  justify-content: center;
}
.home-box__title{
  display: flex;
  justify-content: center;
}
.home-box{
  width: 400px;
  box-shadow:  5px 10px 5px 5px #888888;
  border-radius: 10px;
  height: 50%;
  color:black;
  padding: 10px;
}

/***** HOME - Tarifas ******/
.container-home__tarifas{
  display: flex; 
  flex-flow: row wrap;
  justify-content: center;
}
.home-tarifas:hover{
  padding: 10px;
}
.home-tarifas{
  cursor: pointer;
  width: 200px;
  height: 50%;
	margin: 1%;
  background-image: linear-gradient(to right, grey , rgb(95, 90, 90));
	padding: 1%;
  color:black;
  border-radius: 5%;
  box-shadow:  5px 5px 5px 5px #888888;
}
.home-tarifas__price{
  background: #4CAF50;
  padding:5px;
  color:white;
  border-radius: 3px;
}
.container-tarifas__characteristics{
  background:white;
  padding:5px;
  color:black;
  border-radius: 3px;
}
/************** CATALOGUE ***************/
.categories-item{
  width: 200px;
  height: 200px;
}
/************** ARTICULS ****************/
.container-catalogue{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.articuls-item{
  width: 300px;
  height: 300px;
  margin-left: 15px;
  box-shadow:  5px 5px 5px 5px #888888;
  padding: 10px;
}
/************** CONTACT *****************/
.contact__datosEmpresa{
  list-style: none;
  width: 450px;
}
.container-contact{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

#form-contact{
  color:white;
  background-image: linear-gradient(to right, grey , rgb(51, 51, 51));
  padding: 40px;
  width: 500px;
  border-radius: 5px;
  box-shadow:  5px 5px 5px 5px #888888;
}

.contact-datosEmpresa__map{
  margin-top: 50px;
}

.contact-datosEmpresa__title{
  margin-bottom: 20px;
  
}

/****************** GOOGLE MAPS **************/
#map{
  height: 250px;
  border-radius: 10px;
  box-shadow:  5px 5px 5px 5px #888888;
}

/************** FOOTER *****************/
.footer{
  min-height: 120px;
  background-color: #191919;
  background-image: -moz-linear-gradient(top, #191919, #000000);
  background-image: -o-linear-gradient(top, #191919, #000000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #191919), color-stop(1, #000000));
  background-image: -webkit-linear-gradient(#191919, #000000);
  background-image: linear-gradient(top, #191919, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#191919', endColorStr='#000000');
  border-top: 1px solid rgba(50, 50, 50, 0.3);
  clear: both;
  margin-top: 0px;
  padding-top: 0px;
  color: #ddd;
  padding: 10px;
}

.footer-item{
  float: left;
  list-style: none;
}

.footer-item a{
  outline: none;
}
.footer-item__href{
  text-decoration: none;
  color: white;
}
/****** Toaster ********/
.toaster{
  color:white;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
}
.toaster-errors{
  background: rgb(255, 128, 128);
}
.toaster-success{
  background: rgb(69, 230, 28);
}
.toaster-info{
  background: rgb(69, 117, 206);
  
}

/*************** INPUTS *****************/

.form-inputs{
  margin-top: 30px;
}
.input-beautiful{
  padding: 5px;
}
.input-focus--active:focus{
	border: 3px solid #4CAF50;
 	border-radius: 12px;
 	-webkit-border-radius:12px;
}

/********* FONTS ***********/
.font-nice__title{
  font-family:'Spicy Rice';
}

.font-nice__content{
  font-family:'Libre Baskerville';
}

/******** UTILS *************/
.space-top{
  margin-top: 10px;
}

/********* BUTTONS *********/
.btn{
  background: #4CAF50;
  padding: 10px;
  color:white;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid white;
}

.btn:hover{
  background: white;
  padding: 10px;
  color:#4CAF50;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #4CAF50;
}